.buttons button {
    padding: 0;
    border: none;
    background: none;
    display: inline;
}

button {
    display: inline;
}

h1,
.buttons,
p,
#reset {
    text-align: center;
}

span {
    color: white;
}

#rock,
#scissors {
    margin: 0px 50px;
}

#paper {
    display: inline-block;
}

h1,
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: rgb(150, 150, 150);
    margin: 50px;
}

img {
    width: 80%;
}

#paper-button {
    margin: 50px;
}

body {
    background-color: rgb(0, 0, 0);
}